@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'uber_move';
  src: url('../assets/fonts/UberMoveMedium.otf') format('opentype'),
    url('../assets/fonts/UberMoveMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'uber_move';
  src: url('../assets/fonts/UberMoveBold.otf') format('opentype'),
    url('../assets/fonts/UberMoveBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer base{
  body{
    @apply bg-[#06202A] text-gray-300;
  }
}
